{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Değiştir</title>
{% endblock title %}




    {% block content %}
   
     

     <h1> Şifre Değiştir </h1>
     
     <form class="ms-2" method="POST" novalidate >
        {% csrf_token %}  
        {% for field in form %}
       {% if field.errors %}
        <div class="alert alert-danger w-50">
            {{field.errors}}
        </div>
        {% endif %} 
        <div>
            {{field.help_text}}
        </div>
        <label for=""> {{field.label}} </label>
        {{field}}
        {% endfor %}
        <input class="mt-2" type="submit" value="Kaydet">
        
      
    </form>
    





    
      
      
      {% endblock content %}


    


